.footer-st{
    background-color: rgb(35, 35, 35);
    color: aliceblue;
}
ul li{
    padding: 0%;
    list-style: none;
}
ul{
    position:relative;
    margin-left: 50px;
}
ul li:hover{
    color: aquamarine;
}